{erl_opts, [
    debug_info,
    {i, "deps/"}
]}.

{cover_enabled, true}.

{deps, [
    {jiffy, ".*",
        {git, "git://github.com/davisp/jiffy", {tag, "0.8.4"}}},
    {jesse, ".*",
        {git, "git://github.com/klarna/jesse", {tag, "0.3.2"}}}
]}.

{plugin_dir, "src"}.
{plugins, [hello_jesse_plugin]}.

{hello_jesse_plugin, [
    {src, "test/schema"},
    {outdir, "ebin/"}
]}.
